In [2]:
import pandas as pd
import numpy as np 
import scipy.stats as stats
from datetime import datetime, timedelta

In [3]:
df = pd.read_csv("/Users/user/Desktop/라이브세션/통계/statistics.csv")

In [4]:
df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly

In [ ]:
# 필수 1번 pandas 문제 
#statistics csv 파일을 읽고, Category 기준 Customer ID 컬럼은 Count, Purchase Amount(USD) 컬럼은 Sum 연산을 진행해주세요. 동시에 2가지 연산을 진행해주세요. (한번의 group by)

df2 = df.groupby('Category').agg({'Customer ID': 'count', 'Purchase Amount (USD)': 'sum'}).reset_index()
df2

#groupby가 하나는 아닐 수 있음 여러개의 컬럼이 들어갈 수 있음 
#파이썬 베이직 강의 / 스탠다드 강의 참고 
#각각 다른 연산을 활용 (.concat > agg를 통하여 지정 할 수 있음)

      Category  Customer ID  Purchase Amount (USD)
0  Accessories         1240                  74200
1     Clothing         1737                 104264
2     Footwear          599                  36093
3    Outerwear          324                  18524

In [ ]:
# 필수 2번 pandas 문제 
# Expanding 메서드를 이용하여, Purchase Amount (USD) 의 누적 합을 계산해주세요, 그리고 결과값을 df의 “Purchase Amount (USD)_누적” 컬럼으로 새롭게 지정해주세요. 그리고 Purchase Amount (USD) 과 함께 보여주세요. 결과값은 아래와 같아야 합니다.

df['Purchase Amount (USD)_누적'] = df['Purchase Amount (USD)'].expanding(min_periods=1).sum()
df[['Purchase Amount (USD)', 'Purchase Amount (USD)_누적']]


#스탠다드 강의 2회차 참고

      Purchase Amount (USD)  Purchase Amount (USD)_누적
0                        53                      53.0
1                        64                     117.0
2                        73                     190.0
3                        90                     280.0
4                        49                     329.0
...                     ...                       ...
3895                     28                  232841.0
3896                     49                  232890.0
3897                     33                  232923.0
3898                     77                  233000.0
3899                     81                  233081.0

[3900 rows x 2 columns]

In [ ]:
#필수 3번 기초통계 문제 
#성별 Review Rating 에 대한 평균과 중앙값을 동시에 구해주세요. 결과는 소수점 둘째자리까지 표현해주세요. 그리고 이에 대한 해석을 간략하게 설명해주세요.
# .agg  
# reset_index() 정렬 용도 

result=df.groupby('Gender')['Review Rating'].agg(['mean', 'median']).round(2)
result=result.round(2)
result

#남/여 성별 중앙값과 평균을 비교 했을 때, 남성이 평균과 중앙값이 높아, 리뷰에서 긍정적인 내용을 담았을 가능성이 높은 반면, 여성은 평균과 중앙값이 비슷하지만, 남성 대비하여 리뷰에서 부정적인 내용을 담았을 가능성이 높다.

        mean  median
Gender
Female  3.74     3.7
Male    3.75     3.8

In [ ]:
#필수 4번 기초통계 문제
#- **성별, Review Rating 컬럼에 대한 T-TEST 를 진행해주세요.**
#해당 데이터셋의 컬럼들은 정규성을 만족한다고 가정하겠습니다.  (T- TEST진행시, equal_var=True 로 지정해주세요.)
# 귀무가설과 대립가설을 작성해주세요,  t-score, P-value 를 구해주세요. 단, t값의 부호는 어느 집단의 평균이 더 높은지에 대한 방향성에 대한 내용이므로, 아래와 같이 해석해주세요.
# t > 0: 첫 번째 그룹 평균이 더 큼
# t < 0: 두 번째 그룹 평균이 더 큼
#그리고 이에 대한 귀무가설 채택/기각 여부와 그렇게 생각한 이유를 간략하게 설명해주세요**

In [ ]:
import pandas as pd
import numpy as np 
import scipy.stats as stats
from datetime import datetime, timedelta
from scipy.stats import ttest_ind

# 성별데이터 프레임 생성 및 review rating 컬럼 구성 (남자 : male_reviews_rating, 여자 : female_reviews_rating)
male_reviews_rating = df[df['Gender'] == 'Male']['Review Rating']
female_reviews_rating = df[df['Gender'] == 'Female']['Review Rating']

# 독립표본 T-검정
t_stat, p_val = ttest_ind(male_reviews_rating, female_reviews_rating, equal_var=True)

print(f"T-Statistic: {t_stat:.4f}")
print(f"P-Value: {p_val:.4f}")

T-Statistic: 0.5097
P-Value: 0.6103

In [ ]:
# Color, Season 컬럼에 대한 카이제곱 검정을 진행해주세요.**
# 귀무가설과 대립가설을 작성해주세요.
# 두 범주형 자료의 빈도표를 만들어주세요. 이를 코드로 작성하여 기재해주세요.
# 카이제곱통계량, P-value 를 구해주세요.

In [11]:
import pandas as pd
import numpy as np 
import scipy.stats as stats
from datetime import datetime, timedelta
from scipy.stats import chi2_contingency

#빈도표 만들기 
result = pd.crosstab(df['Color'], df['Season'])
result

#카이제곱검정 , p-value 구하기
chi2, p, dof, expected = chi2_contingency(result)
print(f"카이제곱통계검정: {chi2:.4f},  p-Value값 : {p:.4f}, 자유도: {dof} ")


#귀무가설 : 계절에 따라 선호하는 색상(옷의 컬러)은 달라지지 않는다.
#대립가설 : 계절에 따라 선호하는 색상(옷의 컬러)는 달라진다.

카이제곱통계검정: 64.6506,  p-Value값 : 0.7186, 자유도: 72

In [34]:
import pandas as pd
import numpy as np 
import scipy.stats as stats
from datetime import datetime, timedelta
from scipy.stats import chi2_contingency

#빈도표 만들기 
result = pd.crosstab(df['Color'], df['Season'])
result

Season     Fall  Spring  Summer  Winter
Color
Beige        34      39      37      37
Black        42      43      42      40
Blue         32      39      46      35
Brown        35      33      33      40
Charcoal     32      42      36      43
Cyan         43      42      42      39
Gold         36      38      30      34
Gray         44      48      40      27
Green        37      38      44      50
Indigo       37      37      32      41
Lavender     38      32      39      38
Magenta      50      37      35      30
Maroon       40      39      35      44
Olive        47      52      35      43
Orange       45      39      37      33
Peach        42      38      24      45
Pink         35      44      29      45
Purple       37      43      38      33
Red          42      31      36      39
Silver       39      37      59      38
Teal         40      46      49      37
Turquoise    27      41      36      41
Violet       44      45      40      37
White        27      36      43      36
Yellow       50      40      38      46

In [35]:
import pandas as pd
import numpy as np 
import scipy.stats as stats
from datetime import datetime, timedelta
from scipy.stats import chi2_contingency

chi2, p, dof, expected = chi2_contingency(result)
print(f"카이제곱통계검정: {chi2:.4f},  p-Value값 : {p:.4f}, 자유도: {dof} ")

카이제곱통계검정: 64.6506,  p-Value값 : 0.7186, 자유도: 72

In [ ]:
#아래와 같은 데이터가 있다고 가정하겠습니다.데이터를 바탕으로 선형 회귀 모델을 훈련시키고, 회귀식을 작성해주세요.**
# 독립 변수(X): 광고예산 (단위: 만원)
# 종속 변수(Y): 일일 매출 (단위: 만원)
# X=[10, 20, 30, 40, 60, 100]
# Y=[50, 60, 70, 80, 90, 120]
# **회귀식을통해, 새로운 광고예산이 1,000만원일 경우의 매출을 예측(계산)해주세요. 그리고 이에 대한 해석을 간략하게 설명해주세요.**

In [42]:
import pandas as pd
import numpy as np 
from sklearn.linear_model import LinearRegression

X=[10, 20, 30, 40, 60, 100]
Y=[50, 60, 70, 80, 90, 120]

model = LinearRegression()
X = np.array(X).reshape(-1, 1)  # Reshape X into a 2D array
model.fit(X, Y)

# 회귀식의 기울기와 절편
a = model.coef_[0]     # 기울기 (slope)
b = model.intercept_   # 절편 (intercept)
print(f"회귀식: y = {a:.2f}x + {b:.2f}")

x_new = np.array([[1000]])  # 1000만원 광고 예산
y_pred = model.predict(x_new)
print(f"광고예산 1000만원일 때 예상 매출: {y_pred[0]:.2f}만원")

회귀식: y = 0.76x + 45.56
광고예산 1000만원일 때 예상 매출: 801.81만원

In [ ]:
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score


#데이터 불러오기  (Y는 이진형 데이터로 라벨 인코더 사용 )
X = df[['Review Rating', 'Age', 'Previous Purchases']]
Y = LabelEncoder().fit_transform(df['Discount Applied'])

#학습데이터 와 데이터분리 (test set 30% 설정, random_state는 42로 고정)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

# 랜덤포레스트 학습 
rf_model = RandomForestClassifier(random_state=42) 
rf_model.fit(X_train, y_train)

#예측 및 계산 
accuracy = rf_model.score(X_test, y_test)
print (f"모델 정확도 : {accuracy:.2f}")

모델 정확도 : 0.52

In [62]:
df['Discount Applied'].value_counts(normalize=True)*100

Discount Applied
No     57.0
Yes    43.0
Name: proportion, dtype: float64

In [14]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

#라벨인코딩 
X = df[['Age', 'Purchase Amount (USD)', 'Review Rating']]
Y = LabelEncoder().fit_transform(df['Subscription Status'])

#학습데이터 테스트 데이터 분리 
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

#로지스틱회귀 모델 선언 및 모델 학습 
log_model = LogisticRegression() 
log_model.fit(X_train, y_train)

#데이터 예측 및 정확도 계산 (proba 함수 사용)
new_customer = pd.DataFrame([[30, 50, 4]], columns=['Age', 'Purchase Amount (USD)', 'Review Rating'])
proba=log_model.predict_proba(X_test)

#구독취소 확률 
unsubscribed_proba =round(proba[0][0] *100, 2)
print(f"연령 30세, 구매금액 $50, 리뷰평점 4.0인 고객의 구독 취소 확률: {unsubscribed_proba:.2f}%")
#구독 유지 확률
subscribed_proba = round(proba[0][1] *100, 2)
print(f"연령 30세, 구매금액 $50, 리뷰평점 4.0인 고객의 구독 유지 확률: {subscribed_proba:.2f}%")

연령 30세, 구매금액 $50, 리뷰평점 4.0인 고객의 구독 취소 확률: 73.98%
연령 30세, 구매금액 $50, 리뷰평점 4.0인 고객의 구독 유지 확률: 26.02%